.booth-template-picker.acf-radio-list li {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 300ms ease-in-out;
}

.booth-template-picker.acf-radio-list li:hover {
    background: #f8f8f8;
}

.booth-template-picker.acf-radio-list li label {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.booth-template-picker.acf-radio-list li label input {
    margin-right: 15px !important;
}

.booth-template-picker.acf-radio-list li div {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.booth-template-picker.acf-radio-list li div h3 {
    margin: 5px 0;
    padding: 0;
}

.booth-template-picker.acf-radio-list li div p {
    margin: 0;
    padding: 0;
}

.booth-template-picker.acf-radio-list li div p img {
    margin-right: 10px;
}
