#customize-controls .control-section-vcard-cv-resume .accordion-section-title:hover,
#customize-controls .control-section-vcard-cv-resume .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-vcard-cv-resume .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-vcard-cv-resume .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.customize-control input[type=number], 
.customize-control input[type=search], 
.customize-control input[type=tel], 
.customize-control input[type=url], 
.customize-control input[type=text], 
.customize-control input[type=password],
.customize-control input[type=email],
.customize-control select{
	border: none;
}
.customize-control-title {
  display: -webkit-inline-box;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #0085ba;
  padding: 0px 15px;
  color: #fff;
}

/*------- Typogarphy ----------*/

.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-style,
.customize-control-typography li.typography-font-size,
.customize-control-typography li.typography-line-height {
  float: left;
  width: 50%;
}
.customize-control-typography li.typography-font-weight select,
.customize-control-typography li.typography-font-style select {
  width: 90%;
}
.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
  clear: both;
}
.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
  width: 118px;
}
input.typography-font-color {
 padding: 0;
 margin: 0;
}
.customize-control-vcard-cv-resume-typography ul{
  border-bottom: solid 1px #999;
  padding-bottom: 12px;
  padding-left: 0;
}
#customize-control-h1_typography,
#customize-control-h2_typography,
#customize-control-h3_typography,
#customize-control-h4_typography,
#customize-control-h5_typography{
  border-bottom: solid 2px #1e1e1e1e;
  padding-bottom: 12px;
}

/* ---------Customizer--------- */
.control-section-vcard-cv-resume h3.accordion-section-title {
  font-size: 14px !important;
  color: #fff !important;
  background: #373293 !important;
  padding: 20px 10px;
}
a.button.button-secondary.alignright {
  color: #151821;
  box-shadow: none;
  font-weight: bold;
  padding: 3px 10px;
  background: #fff;
  height: 30px;
  font-size: 12px !important;
  border-radius: 5px;
  border: none;
}
a.button.button-secondary.alignright:hover {
  background: #151821;
  color: #fff;
  border:none;
}
/* ---------Image Toggle --------- */
img.vcard-cv-resume-radio-img-img {
  width: 80px;
  margin-right: 3px;
}
img.vcard-cv-resume-radio-img-selected {
  border: solid 2px #0085ba;
}
ul#vcard-cv-resume-img-container{
  padding-left: 0;
}
/* ---------Excerpt & Logo --------- */
input#_customize-input-vcard_cv_resume_excerpt_number,
input#_customize-input-logo_size,
input#_customize-input-vcard_cv_resume_slider_excerpt_number, 
input#_customize-input-vcard_cv_resume_services_excerpt_number{
  width: 100%;
}
/* ---------FontAwesome Icon Styles--------- */
.type-icon{
  overflow: hidden;
}
.selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}
.selected-icon .fa{
  display: block;
  line-height: 45px;
}
.selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}
.icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}
.icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}
.icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.vcard-cv-resume-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}
input[type="range"] {
  width: 100%;
}