<div class="row">
    <div class="col col-lg-6" id="production_request_form_wrapper">
        <form name="production_request" action="{{$action_url}}">

            <div class="alert alert-info">
                以下の必要情報の入力、ファイル添付にて、事務局へ制作依頼をお願い致します。
            </div>

            <div class="form-group">
                <label>お問合せ元（店舗名：屋号）<sup class="text-danger">必須</sup></label>
                <input type="text" name="name" class="form-control" value="{{$user_name}}" required>
            </div>

            <div class="form-group">
                <label>メールアドレス <sup class="text-danger">必須</sup></label>
                <input type="email" name="email" class="form-control" value="{{$user_email}}" required>
            </div>

            <div class="form-group">
                <label>電話番号（ハイフンナシ）<sup class="text-danger">必須</sup></label>
                <input type="text" name="phone_number" class="form-control" value="{{$user_phone_number}}" required>
            </div>

            <div id="vrmall_request_product_list"></div>

            <div class="d-flex justify-content-end my-4">
                <button type="button" class="btn btn-primary btn-sm" name="add_product">
                    商品の追加
                </button>
            </div>

            <div class="d-none" id="production_request_send_error_wrapper">
                <div class="alert alert-danger"></div>
            </div>

            <div class="form-group mb-4">
                <button type="submit" class="btn btn-primary d-flex justify-content-center" style="width: 150px;">
                    送信
                    <svg class="spinner d-none" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg>
                </button>
            </div>

            <input type="hidden" name="max_product" value="{{$max_product}}">
        </form>
    </div>

    <div class="d-none" id="production_request_send_ok_wrapper">
        <div class="alert alert-success">
            ありがとうございます。メッセージは送信されました。
        </div>
    </div>
</div>

<script id="product_template" type="text/template">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            商品{{$index_no}}
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>名称</label>
                <input type="text" name="products[{{$index}}][name]" class="form-control" maxlength="100" required>
            </div>

            <div class="form-group">
                <label>詳細サイズが分かる仕様書（設計図等）</label>
                <input type="file" name="products[{{$index}}][spec]" accept="image/png,image/jpeg,application/pdf"
                       required
                       class="form-control mb-4">
            </div>

            <div class="form-group">
                <label>商品写真</label>
                <input type="file" name="products[{{$index}}][images][]" accept="image/png,image/jpeg"
                       data-product-image="true"
                       required
                       multiple="multiple" class="form-control mb-1">
                <div class="invalid-feedback"></div>
                <span class="form-text text-muted">正面、横、真上、真下（最低４枚の写真を添付ください）</span>
            </div>
        </div>
    </div>
</script>

<style>
    [name="production_request"] .close {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        background-color: transparent;
        border: 0;
    }

    .spinner {
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .spinner .path {
        stroke: #93bfec;
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
    }

    @-webkit-keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }
    @keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }
</style>
