/*
Theme Name: Vcard CV Resume
Theme URI: https://www.vwthemes.com/themes/free-cv-resume-wordpress-theme/
Author: VWThemes
Author URI: https://www.vwthemes.com/
Description: Vcard CV Resume is a multifunctional theme for creating a personal portfolio, business Vcard, resume, or CV online. Whether it is a portfolio for a programmer, developer, or any professional related to a niche domain. This is such a good theme to represent your online portfolio. Developed by WordPress experts, it is minimally crafted and elegant in design to make your website appear absolutely professional. It is retina-ready and clean for fine projection of necessary information and details regarding you as well as your business. It is user-friendly having easy tweaking and personalization options. Coupled with interactive elements, there are several Call To Action Button (CTA) that further enhances its interactive part. Bootstrap-based design loads quickly giving faster page load time and comprise of secure and clean codes to make sure that your website functions well under any circumstances. With shortcodes making your work of adding any element to your website easy, you will never have to go for redesigning your page. With stunning animations and CSS effects added and along with that, there are modern features included making the theme absolutely trendy and up to date. The codes are optimized for SEO and include proper tags for featuring your website in top ranks. Demo: https://www.vwthemes.net/vw-vcard-cv-resume/
Tested up to: 5.8
Requires PHP: 7.2
Version: 0.1.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: vcard-cv-resume
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, wide-blocks, block-styles, flexible-header, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, translation-ready, threaded-comments, post-formats, rtl-language-support, blog, portfolio, education

Vcard CV Resume WordPress Theme has been created by VW Themes(vwthemes.com), 2019.
Vcard CV Resume WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */

*{
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 16px; 
  color: #777777;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
img{
  margin:0;
  padding:0;
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,h2,h3,h4,h5,h6{
  color: #373293;
}
a{ 
  text-decoration:none; 
  color: #373293;
}
a:hover{
  text-decoration:none;
  color:#000;
}
a:focus span, a:focus, input[type="text"]:focus,input[type="email"]:focus, input[type="phno"]:focus, input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, textarea:focus,input[type="submit"]:focus,#comments:focus,select:focus,button:focus,.main-navigation ul ul a:focus,
.toggle-nav button:focus,.main-navigation a:focus,.toggle-nav button:focus, #footer a:focus, .serach_inner input[type="submit"]:focus, .serach_inner input.search-field:focus, button.close:focus {
  outline: 2px solid #e88c09 !important;
  text-decoration:none !important;
}
.close:focus, .close:hover {
  color: #fff;
}code {
  color: #212fcd;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{ 
  margin: 0 auto; 
  padding: 3em 0 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h2:before{
  content: '\f08d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 20px;
  font-size: 20px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft,img.alignleft {
  display: inline; 
  float: left; 
  margin-right:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
}
.alignright, img.alignright { 
  display: inline; 
  float: right; 
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, img.aligncenter {
  clear: both; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top:0;
}
.alignnone,img.alignnone {
  padding: 5px;
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
  margin:0;
  padding:0;
}
input[type="text"],input[type="email"],input[type="phno"],input[type="password"], textarea,input#url{
  border:1px solid #c8c8c8;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"],
input.button {
text-align:center;
text-transform:uppercase;
font-size:15px;
padding: 15px 30px;
background: #ff7109;
font-weight:bold;
color: #121212;
letter-spacing: 1px;
border: none;
}
/*---------- WIDE BLOCKS ------------*/

.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}

/*---------- ACCESSIBILITY ------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/* ------------ LOGO CSS ----------- */

p.site-title, .logo h1 {
  font-size: 28px;
  font-weight: 600;
}
p.site-description,p.site-title a, .logo h1 a {
  color: #fff;
}

/*----------------- TOP HEADER ----------------*/

.more-btn a:hover,input[type="submit"]:hover,#comments input[type="submit"]:hover,#comments a.comment-reply-link:hover,.pagination .current,.pagination a:hover,#footer .tagcloud a:hover,#sidebar .tagcloud a:hover,.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.widget_product_search button:hover,nav.woocommerce-MyAccount-navigation ul li:hover{
  background: #e88c09;
  color: #fff;
}
.admin-bar .home-page-header{
  margin-top: 32px;
}
.page-template-custom-home-page .admin-bar.home-page-header{
  margin-top: 0;
}
.home-page-header {
  background-image: linear-gradient(to right, #6629c8 , #2b90e6);
}
.page-template-custom-home-page .home-page-header {
  position: absolute;
  width: 100%;
  z-index: 999;
  background: rgb(255 255 255 / 10%);
}
.main-header .custom-social-icons h3{
  display: none;
}
.main-header .custom-social-icons i {
  color: #fff;
  border: dotted 2px #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 8px 0;
  border-radius: 50%;
}
.topbar_btn a {
  background: #e88c09;
  color: #fff;
  font-size: 18px;
  border-radius: 12px 0 12px 0;
  font-weight: 700;
}

/* --------- MENUS CSS --------- */

#mySidenav {
  display: inline-block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a {
  padding: 8px;
  display: block;
  color: #fff;
  font-size: 16px;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 100%;
  line-height: 30px;
  box-shadow: 0px 3px 4px 1px #eee;
} 
.main-navigation ul li.page_item_has_children.focus ul,.main-navigation ul li.menu-item-has-children.focus ul{
  opacity: 1;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #151821 ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  padding-left: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #373293;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  left: 15px;
  width: 20px;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}

/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}

/* --------- SLIDER--------- */

#slider .carousel-inner{ 
  max-width:100%;
  background-image: url(assets/images/slider-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.slide-box{
  height: 805px;
}
#slider img {
  -webkit-mask-image: url(assets/images/slider-image.png);
  mask-image: url(assets/images/slider-image.png);
  mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 35%;
}
.slider-box {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
#slider .carousel-item-next,
#slider .carousel-item-prev,
#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, 
#slider .carousel-control-next-icon{
  background-image: none;
  font-size: 16px;
  color: #fff;
  background: #e88c09;
  border-radius: 12px 0 12px 0;
}
#slider .carousel-control-prev,
#slider .carousel-control-next{
  opacity: unset !important;
  width: 10%;
  top: 50%;
  transform: translateY(-50%);
}
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  right: 55%;
  text-align: left;
}
#slider .carousel-caption h1 { 
  color: #fff;
  font-size: 50px;
}
#slider .more-btn a{
  background: #e88c09;
}

/* --------- BUTTONS--------- */

.view-all-btn a,.more-btn a,#comments input[type="submit"],#comments a.comment-reply-link,input[type="submit"],.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,nav.woocommerce-MyAccount-navigation ul li,.pro-button a {
  color: #fff;
  font-size: 15px;
  background: #373293;
  border-radius: 12px 0 12px 0;
  font-weight: 700;
}

/* --------- SERVICES --------- */

#services-sec h3{
  font-size: 35px;
}
.odd-service-box,.even-service-box {
  box-shadow: 0 0 15px 1px #ddd;
  border-radius: 30px 0 30px 0;
}
.odd-service-box img{
  border-radius: 30px 0 0 0;
}
.even-service-box img{
  border-radius: 0 0 30px 0;
}
.box-content .entry-date a {
  color: #777777;
}
.box-content a{
  color: #e88c09;
}

/*----------- PRELOADER ----------*/

#preloader {
  background-color: #373293;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* --------- FOOTER ------- */

#footer .tagcloud a{
  border: solid 1px #ffffff;
  color:#ffffff;
  font-size: 14px !important;
  padding: 6px 12px;
  display:inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer input[type="submit"]{
  margin-top: 0;
  font-size: 15px;
  width: 100%;
}
#footer label, iframe, .entry-audio audio, #our-services iframe,#sidebar input[type="submit"],span.woocommerce-input-wrapper,.checkout label,.woocommerce-page form .password-input,.woocommerce label {
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #ffffff;
  background:transparent;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
#footer table,#footer th,#footer td{
  border: 1px solid #ffffff;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #ffffff;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #ffffff;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
  padding-left: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  background: #111111;
}
#footer-2 {
  background: #373293;
}
#footer h3 {
  font-size: 25px;
}
#footer li a,#footer, #footer h3,#footer a.rsswidget,#footer #wp-calendar a,.copyright a,#footer .custom_details,#footer ins span,#footer .tagcloud a,.main-inner-box span.entry-date a,nav.woocommerce-MyAccount-navigation ul li:hover a {
  color: #fff;
}
.copyright p {
  font-size: 16px;
  color: #fff;
}
.copyright a:hover{
  color: #151821;
}
.scrollup i{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  right: 15px;
  font-size: 25px;
  display: none;
  background: #373293;
  z-index: 999;
  color: #fff;
  border-radius: 10px 0 10px 0;
  padding: 10px;
}
.scrollup.left i{
  left: 10px;
}
.scrollup.center i{
  left: 50%;
  right: 50%;
}

/* --------- BLOG PAGE ------- */

.post-main-box {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 15px 35px -15px #f0f0f0;
  background: #fff;
}
.post-main-box h2 a,.post-info span a,.middle-bar h6 {
  color: #151821;
}
.post-main-box:hover h2 a, .post-main-box:hover .post-info a, .single-post .post-info:hover a{
  color: #373293;
}
.post-main-box h2 {
  font-size: 20px;
}
.new-text p {
  line-height: 26px;
}
.new-text h2 {
  font-size: 25px;
}
.post-info {
  font-size: 12px;
  background: #f7f7fd;
}
.post-info span {
  margin-right: 1%;
}
.post-info span a, span.entry-comments {
  font-weight: bold;
  font-style: italic;
  color: #151821;
}
.post-info i{
  color: #151821;
}
.tags-bg {
  background: #f7f7fd;
}
.tags-bg a {
  text-decoration: none!important;
  font-weight: bold;
  font-style: italic;
  color: #151821 !important;
  background: #fff;
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.nav-links {
  margin-bottom: 20px;
}

/* --------- POST --------- */
h2#reply-title {
  text-align: left;
  margin-bottom: 0;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-right:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}

/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
  padding-left: 0;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],#comments input[type="email"],#comments textarea,input#url{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"],#comments a.comment-reply-link{
  padding: 10px 20px;
  text-decoration: none;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 0 0 20px !important;
  padding: 20px !important;
  background: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}
.comment-meta.commentmetadata {
  float: right;
  width: 50%;
  text-align: right;
}
#comments .reply{
  float:left;
  margin-bottom: 15px;
}
#comments .comment-author {
  width: 50%;
  float: left;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:100%;
  float:left;
  margin:10px 0 10px 0;
}
#comments p {
  width:100%;
  float:left;
}

/* Sidebar */

#sidebar caption {
  font-weight: bold;
  color: #151821;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #151821;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #151821;
}
#sidebar select, .woocommerce .woocommerce-ordering select{
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #151821;
  background: transparent;
}
#sidebar h3 {
  font-size: 18px;
  display: table;
  margin: -45px auto 10px auto;
  background: #373293;
  color: #fff;
}
#sidebar input[type="search"],
input.search-field {
  font-size:15px;
  margin-bottom: 10px;
  color:#151821;
  border: none;
  background: #f7f7fd;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar .widget {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 15px 35px -15px #f0f0f0;
  background: #fff;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li{
  color: #71788c;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 43px;
}
#sidebar ul li a {
  color: #71788c;
  font-size: 14px;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color: #71788c;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.nav-previous,.nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}
.woocommerce-page #sidebar {
  margin-top: 20px;
}
/*------------ PAGE CSS -------------*/

#footer .textwidget a,#footer li a:hover,.post-main-box:hover h3 a,#sidebar ul li a:hover,.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,.post-navigation a:hover,.post-navigation a:focus{
  color: #e88c09;
}
.error404 .page-content{
  text-align: center;
  margin: 30px 0 0 0;
}
#content-vw a,.entry-content a,.widget_text a,.woocommerce-page .entry-summary a{
  text-decoration: underline;
}

/*------------- PAGINATION CSS --------------*/

.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:right;
  font-weight:bold;width:100%;
} 
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 5px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color: #fff;
  background: #373293;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination .current {
  padding: 10px 15px;
  font-weight: bold;
}
.post-navigation,.post-navigation,.nav-previous,.related-post,#respond,.clear{
  clear:both;
}
.nav-previous {
  float: left;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation a { 
  color: #151821; 
  display: block;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px;
  color: #151821;
}
.nav-previous span.meta-nav:before {
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-next span.meta-nav:after {
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #686868; 
  font-size: 13px;
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  display: none;
}
.post-navigation:before {
  right: 0;
}
.post-navigation:after {
  right: 54px;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .page-numbers {
  display: inline-block;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,.post-navigation .prev:focus,.post-navigation .next:hover,.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  right: 54px;
}

/*------------- WOOCOMMERCE CSS --------------*/

.woocommerce .woocommerce-breadcrumb,.woocommerce .woocommerce-breadcrumb a{
  color: #151821;
}
.widget_product_search button{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 18px 15px 14px;
  background: #373293;
  font-weight: bold;
  color: #fff;
  border: none;
  width: 100%;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #feaf18;
}
.woocommerce .products .star-rating{
  font-size: 15px !important;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.woocommerce span.onsale {
  top: 15px !important;
  border-radius: 0;
  min-height: 2em;
  min-width: 4em;
  line-height: 2;
  left: 8px !important;
  right: auto !important;
  background: #e88c09;
}
.woocommerce div.product span.onsale{
  left: 20px !important;
  right: auto !important;  
  top: 20px !important;
}
h2.woocommerce-loop-product__title {
  font-size: 20px !important;
  padding: 5px 0 5px 0 !important;
}
.woocommerce div.product .product_title {
  font-size: 25px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price {
  color: #373293;
  font-size: 16px;
  margin-top:0px;
}
del span.woocommerce-Price-amount.amount bdi {
  color: #71788c;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  padding: 12px 18px;
  font-weight: normal;
  border-radius: 12px 0 12px 0;
}
.woocommerce .quantity .qty {
  width: 7em;
  padding: 7px;
  border: solid 2px #000;
  color: #000;
  border-radius: 12px 0 12px 0;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 15px 20px;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none !important;
  text-transform: uppercase;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
  background: #fff;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.woocommerce-message,.woocommerce-info{
  border-top-color: #151821;
}
.woocommerce-message::before,.woocommerce-info::before{
  color: #151821;
}
.related.products ul li {
  width: 29% !important;
}
.woocommerce #comments p{
  float: none;
  margin-top: 0px !important;
}
.woocommerce #comments ol li{
  padding: 0 !important;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce ul.products li.product .button {
  margin-top: 5px;
}
.woocommerce .select2-container--default .select2-selection--single , .woocommerce input#billing_phone{
  padding: 10px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce .select2-container--default .select2-selection--single{
  padding: 10px 10px 30px 10px;
}
.woocommerce .select2-container .select2-selection--single, .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.woocommerce #payment{
  margin: 0 0 30px 0;
}
.woocommerce ul.products li.product .button{
  margin-top: 5px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 110px !important;
  padding: 7px 0px 7px 8px !important;
  margin: 0px 10px 0px 0 !important;
}
/*------------------RESPONSIVE MEIDA-------------------*/

@media screen and (max-width: 1000px){  
  .menubar .nav ul li a:focus,  a.closebtn.mobile-menu:focus{
    outline: 2px solid #1858cc;
  }
  .page-template-custom-home-page .home-page-header{
    position: static;
    background-image: linear-gradient(to right, #6629c8 , #2b90e6);
  }
  .toggle-nav {
    display: none;
    position: relative;
    cursor: pointer;
  }
  .toggle-nav i {
    font-size: 25px;
    color: #fff;
  }
  .toggle-nav button {
    background: #e88c09;
    border: none;
    padding: 0;
    border-radius: 10px 0 10px 0;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    top:0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav{
    display: block;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-right: none;
  }
  .main-navigation a:hover {
    background: #fff !important;
    color: #373293 !important;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-left:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
    opacity: 1;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-left: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-left: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after, .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .admin-bar .home-page-header, .admin-bar #slider {
    margin-top: 45px;
  }
  .admin-bar #mySidenav{
     margin-top: 0px;
  }
}

@media screen and (max-width:720px) {
  .order-box2,.even-order2{
    order: 1;
  }
  .order-box1,.even-order1{
    order: 2;
  }
  #slider .carousel-caption h1{
    font-size: 25px;
  }
  #slider .carousel-caption,.slider-box {
    position: static;
    transform: none;
    text-align: center;
  }
  #slider .carousel-inner{
    background-image: linear-gradient(to right, #6629c8 , #2b90e6);
  }
  .slide-box{
    height: auto;
  }
  .even-service-box img{
    border-radius: 30px 0 0 0;
  }
  .products li, .related.products ul li {
    width: 100% !important;
  }
  .admin-bar .home-page-header{
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
  .even-order2{
    order: 1;
  }
  .even-order1{
    order: 2;
  }
  .even-service-box img{
    border-radius: 30px 0 0 0;
  }
  p.site-title, .logo h1{
    font-size: 20px;
  }
  #slider .carousel-caption h1{
    font-size: 25px;
  }
  #slider .carousel-caption,.slider-box {
    position: static;
    transform: none;
  }
  #slider .carousel-caption{
    padding-left: 40px;
  }
  .slide-box {
    height: 335px;
  }
  .related.products ul li {
    width: 46% !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px){
  .page-template-custom-home-page .home-page-header,.slider-box,#slider .carousel-caption{
    position: static;
    transform: none;
  }
  .page-template-custom-home-page .home-page-header{
    background-image: linear-gradient(to right, #6629c8 , #2b90e6);
  }
  .slide-box {
    height: 450px;
  }
  #slider .carousel-caption {
    padding-left: 100px;
  }
  #slider .carousel-caption h1{
    font-size: 35px;
  }
}

/* safari */
a[href^=tel] {
  color:inherit;
  text-decoration: none;
}